---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="David Hu">
  <h1>Hey — I’m David.</h1>
  <p>This is my personal site. If you’re here for the “human” stuff:</p>
  <p><a href="/outside/">→ Outside of Work</a></p>

  <p>If you’re here for projects:</p>
  <p><a href="/projects/">→ Projects</a></p>
</BaseLayout>
