---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Outside of Work · David Hu">
  <h1>Outside of Work</h1>
  <p class="page-intro">Everything personal lives here so my GitHub README stays focused.</p>

  <ul class="link-list">
    <li><a href="/outside/hackathons">Hackathons & Friends</a></li>
    <li><a href="/outside/culture">Culture & Language</a></li>
    <li><a href="/outside/photography">Photography</a></li>
    <li><a href="/outside/gaming">Gaming</a></li>
    <li><a href="/outside/food">Food & Drinks</a></li>
    <li><a href="/outside/fitness">Fitness</a></li>
    <li><a href="/outside/media">Favorite Media</a></li>
    <li><a href="/outside/cat">Cat Pictures</a></li>
  </ul>
</BaseLayout>
